.hero-cover {
  width: 100%;
  height: 100%;
  min-height: 100vh;
   /* Biar background selalu full */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* Tambahan biar rapi */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slideshow-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  z-index: -2;
}

.slideshow-img.active {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(236, 233, 233, 0.5); /* transparan gelap */
  z-index: 0; /* tetap di belakang hero-box */
}

.hero-box {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  color: #fff;
  z-index: 1;
}